@import "styles/settings/__settings";

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.left_sec_head span {
  color: $color-orange-300;
}
.top_sec_left {
  position: relative;
  padding-top: 50px;
}
.vector_image {
  display: flex;
  position: absolute;
}

// .left_sec_head::after {
//   content: "";
//   background-image: url("../../../public/Vector.svg");
//   position: absolute;
//   bottom: -25px;
//   width: 100%;
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 30px;
// }
.right_sec_head {
  font-size: 24px;
  color: #282828;
}

// Banner
// .page_banner {
//   position: relative;
//   margin-bottom: 50px;
//   height: 700px;
//   width: 100%;
// }
.banner_img {
  background-image: url("/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  width: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }
  
}
// .banner_video {
//   position: relative;
//   margin-bottom: 50px;
//   height: 649px;
//   width: 100%;
// }
// .video_ban {
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
// }
.banner_section {
  background-image: url("../../../public/home-banner.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 649px;
  width: 100%;
}
.review_small {
  background-color: #fff;
  display: flex;
  padding: 20px 40px;
  position: absolute;
  bottom: -40px;
  right: 0;
  max-width: 330px;
}
.mobile_review_small {
  background-color: #fff;
  display: flex;
  max-width: 232px;
  left: 0;
  padding: 5px 20px;
  right: 0;
  margin: 0 auto;
}
.banner_container {
  position: relative;
  @media screen and (max-width: 767px) {
    display: none;
  }

}
.rating_text_main {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.rating_text {
  margin-bottom: 10px;
  color: #5f5f5f;
  font-size: 18px;
}

// Branding Section
.business_logos {
  padding: 40px 0;
}
.business_subtitle {
  font-size: 24px;
  color: #2c2c2c;
  font-family: "Hero New Bold";
}
.branding_right {
  margin-left: 20px;
}
.branding_right_item h3 {
  margin-left: 20px;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
}

// Marketing
.desktop_par_left_item {
  .form_btn {
    width: 220px !important;
    font-family: "Hero New Regular";
    letter-spacing: 1px;

  }
}
.marketer_main {
  display: flex;
  background-color: #fff;
  padding: 40px 20px;
}
.marketer_main {
  .mar_para {
    margin-top: 10px !important;
  }
}

.marketing_right_image {
  background-image: url("../../../public/mar-img.jpg");
  background-position: center;
  background-size: cover;
  width: 496px;
  height: 680px;
}
.markeing_left {
  h2 {
    line-height: 1.6;
    font-family: "Hero New Regular";
    color: #1f1f1f;
    font-size: 50px;
  }
  p {
    padding: 20px 0;
    line-height: 2;
  }
}

.mobile_cont_detail {
  display: none;
}
.name_input {
  position: relative;
  margin-bottom: 40px;
  border-radius: 0;
  height: 50px;
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
  resize: none;

  label {
    position: absolute;
    font-size: 12px;
    bottom: 12px;
    left: 20px;
    color: #949494;
    transition: 0.2s all;
    cursor: text;
  }
  input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #949494;
    box-shadow: none;
    color: #000;
    font-family: "Hero New Regular";
    font-size: 16px;
    background: transparent;
  }
  input:invalid {
    outline: 0;
  }
  input:focus,
  input:valid {
    border-color: $color-orange-300;
  }
  input:focus ~ label,
  input:valid ~ label {
    font-size: 12px;
    top: 0;
    color: #949494;
  }
}
.ser_main {
  padding-bottom: 20px;
}
.ser_left_item1 {
  background-image: url("../../../public/facebook-advertising.jpg");
}
.ser_left_item2 {
  background-image: url("../../../public/socialmedia-experts.jpg");
}
.ser_left_item3 {
  background-image: url("../../../public/custom-websites.jpg");
}
.ser_right_item1 {
  background-image: url("../../../public/video/Facebook-Ads/fb-advertising.gif");
}
.ser_right_item2 {
  background-image: url("../../../public/video/Social-Media/social-media.gif");
}
.ser_right_item3 {
  background-image: url("../../../public/website-right.jpg");
}
.ser_left_item1 h2,
.ser_left_item2 h2,
.ser_left_item3 h2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 9;
}
.item_title {
  display: none;
}
.mobile_bg_image {
  display: none;
}
.mobile_banner {
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mobile_banner:before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000027;
}
.mobile_text {
  position: absolute;
  bottom: 15px;
  left: 0;
  span {
    color: $color-primary;
  }
}
.mobile_logo {
  margin-top: -38px;
  margin-bottom: 5px;
}
.mobile_title {
  color: white;
  font-size: 35px;
  text-align: left;
  font-family: "Hero New Bold";
  letter-spacing: 1px;
}
.mobile_sec {
  h1 {
    color: white;
    font-size: 27px;
    font-family: "Hero New Bold";
    margin-bottom: 20px;
  }
  .mobile_cmn_btn {
    background-color: white;
    font-family: "Hero New Bold";
    color: $color-primary;
    margin-top: -16px;
    outline: none;
    position: relative;
    border: none;
    transition: all 0.8s ease-in-out 0s;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: capitalize;
    height: 60px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 22px 30px;
    width: 234px;
  }
  .mobile_business_sec {
    .mobile_business_sub {
      color: white;
      font-family: "Hero New Bold";
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
  
}

.posts {
  list-style: none;
  padding-left: 0;
  margin: -1rem 0;

  & > li {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}

@media (min-width: 320px) and (max-width: 767px) {
  .banner_section {
    margin-bottom: 20px;
    height: 303px;
  }
  .banner_video {
    display: none;
    // height: 308px;
  }
  .business_sec,
  .ser_main {
    display: none;
  }
  .ser_left {
    display: none;
  }
  .adv_sec {
    padding-bottom: 0 !important;
  }
  .item_title {
    display: block;
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500px;
  }
  .mobile_bg_image {
    display: block;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .marketer_main {
    height: 270px;
  }
  .partner_main {
    text-align: center;
  }
  .partner_right {
    padding-top: 50px;
    padding-bottom: 200px;
  }
  .partner_right_image::before {
    right: 0;
    margin: auto;
  }
  .partner_right_image::after {
    display: none;
  }
  .review_small {
    max-width: 249px;
    padding: 10px 20px;
  }
  .rating_text {
    font-size: 13px;
  }
  .markeing_left {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      display: none;
    }
    .mar_common_btn {
      width: auto;
    }
  }
  .mobile_cont_detail {
    display: block;
    padding-top: 40px;
    a {
      color: #000;
      display: flex;
      align-items: center;
    }
    .icon_span {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 10px;
      transition: all 0.5s ease-in-out;
    }
    .con_details {
      display: flex;
      align-items: center;
      padding-top: 20px;
    }
    .right_main_btn {
      margin-left: 30px;
    }
    h3 {
      font-size: 30px;
      text-align: left;
      font-weight: 400;
    }
  }
  .mar_para {
    font-size: 10px;
    line-height: 1.7;
  }
  .awards_sec {
    background-color: $color-primary;
    h2 {
      color: white;
    }
    .awards_sec_con {
      padding-right: 0;
    }
  }
  .mar_main_left,
  .mar_main_right {
    flex: 0 0 auto;
    width: 50%;
  }
  .mar_main_right {
    padding-left: 7px;
  }
  .marketing_right {
    display: none;
  }
  .partner_right_image {
    height: 498px !important;
    width: 100% !important;
  }

  .con_details {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
    .right_main_btn {
      margin-top: 20px;
      margin-top: 20px;
      margin-left: 0;
    }
  }
  .contact_section {
    h2 {
      font-size: 30px;
    }
  }
  .form_control {
    margin-top: 50px;
  }
  .desktop_par_left_item {
    .form_btn {
      width: 100%;
      height: 60px;
      font-family: "Hero New Regular";
      border-radius: 50px;
    }
  }
}
