@import "../settings/colors";
.content_sec {
  .content_main {
    align-items: center;
    padding: 50px 0;
    @media screen and (max-width: 767px) {
      padding: 20px 0;
      .left_order {
        order: -1;
      }
    }
    .content_main_left {
      .content_text_left {
        padding-right: 40px;
        @media screen and (max-width: 767px) {
          padding-right: 0;
        }
      }
      .content_text_right {
        padding-left: 40px;
        @media screen and (max-width: 767px) {
          padding-left: 0;
        }
      }
      @media screen and (max-width: 767px) {
        text-align: center;
        padding-bottom: 20px;
      }
    }
    .content_main_right {
      .left_image {
        height: 598px;
        width: 100%;
        background-position: center;
        background-size: 100%;
        @media screen and (max-width: 767px) {
          height: 350px;
          // width: 335px;
        }
      }
      .left_image2 {
        position: relative;
        height: 598px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        justify-content: center;
        button {
          position: absolute;
          bottom: 13px;
          background: #00a651;
          height: 52px;
          min-width: 160px;
          border: none;
          box-shadow: 0px 20px 87px rgba(0, 166, 81, 0.2);
          border-radius: 26px;
          figure {
            margin: 0;
            img {
              background: transparent;
              border: none;
            }
          }
          @media screen and (max-width: 767px) {
            bottom: -30px;
          }
        }
        @media screen and (max-width: 767px) {
          height: 276px;
          // width: 335px;
        }
      }
      @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
      }
    }
    .hideon_mobile {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
.insta_img {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
  .insta_img_sec {
    position: relative;
    width: 40%;
    @media screen and (max-width: 767px) {
      height: 500px;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    .insta_img_main {
      background-image: url("/images/insta-img1.png");
      background-size: cover;
      background-position: center;
      height: 401px;
      width: 250px;
    }
    .insta_img_main2 {
      background-image: url("/images/insta-img2.png");
      position: absolute;
      background-size: cover;
      background-position: center;
      height: 401px;
      width: 250px;
      right: 60px;
      top: -38px;
      @media screen and (max-width: 767px) {
        left: 146px;
        top: 12px;
      }
    }
  }
}
.certified_Section {
  .ourwork_main {
    align-items: center;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    .ourwork_right {
      @media screen and (max-width: 767px) {
        max-width: 100%;
        padding: 0;
      }
      .ourwork_image {
        background-image: url("/images/our-work.png");
        height: 381px;
        width: 100%;
        background-size: 100%;
        background-position: top;
      }
    }
  }
}
.our_result_sec {
  .our_result_main {
    background-image: url("/images/our-result.png");
    background-position: center;
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 20px;
    @media screen and (max-width: 767px) {
      height: 448px;
    }
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #00000061;
    }
    .our_result_con {
      text-align: center;
      figure {
        img {
          border: none;
          padding: 0;
          background: transparent;
        }
      }
      h3 {
        color: white;
        span {
          color: $color-primary;
        }
      }
    }
  }
}
