@import "styles/settings/__settings";
@import "style.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@font-face {
  font-family: "Hero New Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Hero New Bold"), url("./fonts/Hero\ New\ Bold.woff") format("woff");
}
@font-face {
  font-family: "Hero New Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Hero New Regular"), url("./fonts/Hero\ New\ Regular.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
}

p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  margin: 0 !important;
  // font-family: "Hero New Regular";
}

ul {
  padding-left: 1.2em;
  list-style: none;
  margin: 0 !important;
}

a {
  color: $color-primary;
  list-style: none;
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"],
  &[type="number"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hide,
.split-line {
  overflow: hidden;
}
.child-desc {
  // font-size: 60px;
  position: relative;
  overflow: hidden;
  // margin-bottom: 50vh;
}
.child-desc > div {
  position: relative;
  margin: 0;
}
.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}
.orange_color {
  color: #eb6a24;
}
.fw-bold {
  font-weight: 700;
}
// .img_reveal_main {
//   visibility: hidden;
//   position: relative;
//   width: 80%;
//   height: 80%;
//   max-width: 500px;
//   overflow: hidden;
// }

.common_padding {
  padding: 80px 0px;
}
.common_title h3 {
  // color: $color-orange-500;
  text-transform: uppercase;
  font-size: 18px;
  // font-weight: 500;
}
.common_title h1 {
  font-size: 65px;
  letter-spacing: 2px;
  font-family: "Hero New Bold";
  color: #2c2c2c;
}
.common_title h2 {
  color: #252525;
  font-size: 50px;
  font-weight: 400;
}

// .common_title h1 span {
//   color: $color-orange-300;
// }
// .hero_section_desktop {
//   visibility: hidden;
// }

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.common_btn {
  background-color: #ff7a00;
  color: #fff;
  outline: none;
  position: relative;
  border: none;
  transition: all 0.8s ease-in-out 0s;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  margin-top: 20px;
  min-width: 162px;
  height: 48px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  width: auto;
}
.common_btn:hover {
  color: #fff;
  list-style: none !important;
}
.flex_center {
  display: flex;
  align-items: center;
}
.space_between {
  justify-content: space-between;
}
.p_0 {
  padding: 0 !important;
}
.hero_section_mobile {
  display: none;
}
.top_sec_right h2 {
  font-size: 24px;
  color: #282828;
  font-family: "Hero New Regular";
  text-align: right;
}
.top_sec_right .common_btn {
  float: right;
}
.ser_left_item {
  height: 503px;
  display: flex;
  padding-left: 50px;
  align-items: flex-end;
  padding-bottom: 50px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ser_left_item::after {
  background: #00000047;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ser_right_item {
  height: 503px;
  background-position: center;
  background-size: cover;
}
.service_main {
  margin: 30px 0 !important;
}
.mar_carousel .owl-carousel .owl-dots {
  display: flex !important;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px !important;
}
.mar_carousel .owl-dots .owl-dot {
  background-color: #ef8850;
  border-radius: 18px;
  margin: 0 3px;
  height: 12px;
  width: 12px;
}
.mar_carousel .owl-dots .active {
  background-color: #fff !important;
}
.mar_carousel .owl-dots button span {
  padding: 0 2px;
  margin: 0px !important;
}
.mar_carousel .owl-dots button span::after {
  border: 1px solid #e28736;
}
.bi-chevron-up,
.bi-chevron-right {
  color: $color-orange-500;
  font-size: 22px;
}

// TextImage Section
.text_image {
  .text_image_sec {
    justify-content: center;
    align-items: center;
    .text_img_left {
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
    .text_img_right {
      figure {
        img {
          border: none;
          padding: 0;
        }
      }
    }
  }
}

// Packeges sec
.packeges_sec {
  background-color: $color-primary;
  .packeges_top {
    color: white;
    text-align: center;
    h2,
    p {
      color: white;
    }
  }
  .packeges_bottom {
    background-color: #252525;
    padding: 30px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    h3 {
      color: white;
      padding: 20px 0;
    }
    p {
      color: white;
      font-weight: 300;
      font-family: sans-serif;
      span {
        color: $color-primary;
      }
    }
    .packeges_bottom_child {
      padding-top: 20px;
    }
  }
  .advertising_results {
    padding: 30px;
    background: #252525;
    border-radius: 20px;
    h3 {
      color: white;
      margin: 0;
    }
    .packege_right_btn {
      height: 30px;
      width: 30px;
      border: 1px solid white;
      border-radius: 50%;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      .faq_icon {
        color: white;
      }
      @media screen and (max-width: 767px) {
        height: 25px;
        width: 25px;
      }
    }
  }
}
// Faq Section
.faq_sec {
  .faq_top {
    text-align: center;
  }
  .faq_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  .faq_btn_main {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    .faq_btn {
      background: #1f1f1f;
      box-shadow: 0px 10px 29px rgba(235, 106, 36, 0.08);
      border-radius: 30px;
      min-width: 209px;
      font-size: 18px;
      font-weight: 600;
      height: 60px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .faq_btn_white {
      background: white;
      color: $color-primary;
    }
  }
}
.faq_sec_orange {
  background: $color-primary !important;
  .faq_top_white {
    text-align: center;
    h2, p {
      color: white;
    }
  }
}

// banner services
.services_banner {
  .banner_content {
    padding-top: 80px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .banner_image_column {
    height: 585px;
    border-radius: 30px;
    background: transparent;
    overflow: hidden;
    margin-top: 50px;
    position: relative;
    @media screen and (max-width: 767px) {
      height: 194px;
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Websites Section
.websites_section {
  .websites_section_columns {
    .website_column {
      .website_column_image {
        height: 400px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
        border: 1px solid #f6f6f6;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        @media screen and (max-width: 767px) {
          height: 266px;
        }
      }
      button {
        border: none;
        width: 100%;
        background-color: #1d3052;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
        p {
          color: white;
        }
      }
    }
  }
}

.websites_section_columns .owl-carousel .owl-dots {
  display: flex !important;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 30px !important;
}
.websites_section_columns .owl-dots .owl-dot {
  background-color: #f0cbbf;
  border-radius: 18px;
  margin: 0 3px;
  height: 12px;
  width: 12px;
}
.websites_section_columns .owl-dots .active {
  background-color: $color-primary !important;
}

// COntent Creation
.project_tabs {
  margin-top: 40px;
  .nav {
    border: none;
    justify-content: center;
    li {
      margin: 0 30px;
      .active {
        color: $color-primary !important;
        transform: translateX(0%);
      }
      a {
        padding: 0px 12px 12px;
        border: none;
        color: #252525a3 !important;
        transition: all ease-in-out 0.4s;
        overflow: hidden;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        &::after {
          content: "";
          height: 2px;
          width: 100%;
          background-color: #eb6a24;
          position: absolute;
          bottom: 0px;
          left: 0px;
          transform: translateX(-200%);
          transition: all ease-in-out 0.5s;
        }
        &:hover {
          color: $color-primary !important;
          transform: translateX(0%) !important;
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      .photography_tabs_column {
        margin-top: 30px;
        @media screen and (max-width: 767px) {
          width: 50%;
        }
        .photography_column {
          height: 288px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          @media screen and (max-width: 767px) {
            height: 160px;
          }
          a {
            width: 100%;
            display: inline-block;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.packeges_sec_main {
  background: $color-primary;
  h3 {
    color: white;
    margin: 0;
  }
  .packeges_sec_left {
    p,
    h2 {
      color: white;
    }
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .packeges_sec_right {
    background-image: url("/images/packeges-bg.png");
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .packege_right_btn {
      height: 30px;
      width: 30px;
      border: 1px solid white;
      border-radius: 50%;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      .faq_icon {
        color: white;
      }
      @media screen and (max-width: 767px) {
        height: 25px;
        width: 25px;
      }
    }
    .packeges_bottom {
      p {
        color: white;
        font-weight: 200;
        line-height: 1.5;
      }
      .packeges_bottom_child {
        padding-top: 20px;
      }
    }
  }
  .bg_black {
    background: #252525;
  }
}

.logo_slider {
  figure {
    img {
      border: none;
      background: transparent;
      padding: 0;
    }
  }
}

.accordion_main, .accordion {
  border: none;
}
.accordion_card {
  background-color: $color-primary;
  margin-top: 20px;
  border: none !important;
  border-radius: 16px !important;
}
.accordion_card_black {
  background-color: #252525;
}
.accordion_bg_orange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px !important;
  background-color: $color-primary ;
  border-radius: 16px !important;
  padding: 20px !important;
}
.accordion_bg_black {
  background-color:#252525 !important;
}
.accordion_panel {
  padding: 0 20px 20px 20px !important;
}
.accordion_title {
  color: white;
  font-weight: 300;
  font-size: 20px !important;
  box-shadow: none !important;
  position: relative;
  border: none !important;
  font-size: 18px;
  text-decoration: none;
  border-radius: 20px !important;
}
.accordion_desc {
  color: white;
  font-weight: 200;
}
.accordion_btn {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq_icon {
  color: white;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    background: $color-primary;
  }
  .common_padding {
    padding: 40px 0px;
  }
  .hero_section_desktop {
    display: none;
  }
  .hero_section_mobile {
    display: block;
    background-color: $color-primary;
  }
  .mar_carousel {
    padding-top: 0 !important;
  }
  .common_title h1 {
    font-size: 30px;
    list-style: 2;
  }
  .common_title h2 {
    font-size: 35px;
    line-height: 1.3;
    padding: 20px 0;
  }
  .common_btn {
    font-size: 18px;
    width: 220px;
  }
  .banner_section {
    height: 303px;
  }
  .service_main {
    margin: 0 !important;
  }
  p {
    font-size: 12px;
  }
  .ser_right_item {
    height: 347px;
    width: 100%;
  }
}
