@import "styles/settings/__settings";

.image {
  div {
    overflow: hidden;
    margin: 0;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }

  figcaption {
    color: $color-gray-500;
    font-size: 0.9em;
    text-align: center;
    font-style: italic;
    margin-top: 1em;
  }
}
